[2020-01-31 07:59] Carlosx7 opened #1 "I got an error in download the course"
Thank, bro! It is very awsome!
These are some error message when i started the program.
![TIM截图20200131160208](https://user-images.githubusercontent.com/3402621/73522410-4dfac880-4443-11ea-9cca-07b936d1aeef.jpg)

[2020-01-31 08:14] shihabmridha commented on #1
Thank you for trying it out. I am sorry to say that I do not really understand the error. I tried to use it in windows and it ran without any issue.

**Possible issue:**
It might be an issue with your NodeJS installation. Also, do not forget to compile the TS first.

[2020-01-31 08:33] Carlosx7 commented on #1
Thank you for your reply.I follow the step but still have error

`
CarlosdeMac-mini:educative.io-downloader carloswong$ npm run compile

CarlosdeMac-mini:educative.io-downloader carloswong$ npm start

Loggin in.
Download in proguress. Course URL => https://www.educative.io/courses/docker-for-developers
Navigation timeout of 30000 ms exceeded
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! educa

[2020-01-31 08:52] shihabmridha commented on #1
Did you forget to update `config/default.json` file?

[2020-01-31 08:59] Carlosx7 commented on #1
Thank you ! I had found the problem, Because I used network proxy. Now It works.

[2020-02-02 15:59] #1 closed

[2020-03-06 21:58] devKshitijJain opened #2 "Code Not Fully Captured"
![image](https://user-images.githubusercontent.com/13154652/76125842-ac5b2e00-6023-11ea-9b0d-2fc513b707ca.png)

In PDF Code is not trimmed just in PNG.

[2020-03-15 10:57] devKshitijJain opened #3 "Not getting logged in"
`{
    "errorText": "Access denied. Please contact support@educative.io",
    "request_id": "5e6e09ac00ff0600ffa5a4c6439e0001737e6564756361746976652d6865736976650001763230303330322d686f746669782d3230303330392d3132313600010101"
}`

Also it shouldn't proceed downloading course if login failed

[2020-03-18 10:40] #3 closed

[2020-03-18 16:17] devKshitijJain commented on #3
Any reason for closing this?

[2020-03-18 16:35] shihabmridha commented on #3
Pushed a commit. See this: https://github.com/shihabmridha/educative.io-downloader/commit/e23d6c0af42ff3b3890758974739f3c6eec7a22c

[2020-03-23 14:06] devKshitijJain opened #4 "Text Trimmed in PDF before New Page"
![Screenshot 2020-03-23 at 7 35 33 PM](https://user-images.githubusercontent.com/13154652/77325024-9943a000-6d3d-11ea-8fc3-c7d4532c331d.png)

[2020-03-23 19:36] shihabmridha commented on #4
Is it happening for every page? Did not get a chance of talking a look yet.

[2020-03-23 20:42] devKshitijJain commented on #4
Yes for every page.

[2020-03-24 09:44] shihabmridha commented on #4
Not sure if it has an easy fix. Noticed similar behavior in the chrome browser as well.
Also, I have pushed a commit updating some formation. You might pull and check if it helps.

[2020-03-24 18:14] devKshitijJain commented on #4
I tried same thing. Removing header and putting margin as 0 and sheet size as A4. But didn't help. Still cutting.

[2020-03-24 18:16] devKshitijJain commented on #4
Although it looks much better as we can guess the text, but still not a solution. Puppeteer has this issue.

[2020-03-29 18:01] devKshitijJain commented on #4
Came across https://github.com/gildas-lormeau/SingleFile this chrome plugin. So when you are on the particular page and click on this extension it will download that page as HTML and will have everything of that page in it. May be you can combine your logic along with this?

[2020-03-29 19:01] shihabmridha commented on #4
I do not think that will work for PDF because in general, a single page has a limited height. So, whenever you are going to make PDF of a tall page/content chrome will create multiple pages to fit all the data.

[2020-03-29 20:20] devKshitijJain commented on #4
I mean you can add option to get html files instead of pdf.

[2020-04-03 16:14] narayanshivansh49 opened #5 "Navigation timeout of 30000 ms exceeded"
I am getting this error after Processing batch of lessons.

![image](https://user-images.githubusercontent.com/34347884/78382225-1c91ab00-75f4-11ea-830f-eab5bb80e700.png)

[2020-04-03 19:40] shihabmridha commented on #5
**Background:**
What happens is, the script fetches a batch of 4/5 lesson URLs then opens 4/5 separate tabs then load each URL to each tab and wait for 30000ms for each tab to load the full page. If any page does not load fully in 30000ms then it throws that timeout error and proceeds for the next batch. So, you can say network connectivity is the reason here.

**Possible solution**:
Open the **_a

[2020-04-04 11:37] #5 closed

[2020-04-12 13:34] nyknstyn opened #6 "Event after subscribing all pages are not downloading."
Attaching the downloaded folder screenshot

![Screen Shot 2020-04-12 at 7 03 30 PM](https://user-images.githubusercontent.com/31756827/79070032-71b67680-7cf0-11ea-8285-5751c65a2cff.png)

[2020-04-12 13:41] nyknstyn commented on #6
Some Details:
First I used credential that didn't have subscription. So only the preview pages were downloading.
Later i changed the config to new credentials with subscription. But still only preview files are downloading.

I think its still logged in with the old credentials.

[2020-04-12 14:31] shihabmridha commented on #6
Try removing the `data` directory where chrome stores its browsing informations. It should be located at `ROOT_PATH/data`. Check the `ROOT_PATH` variable.

[2020-04-12 14:45] nyknstyn commented on #6
Yes. Deleted the data dir. Working now

[2020-04-12 14:45] #6 closed

[2020-04-13 05:26] arulk opened #7 "Image of code window gets cut"
![Screenshot 2020-04-13 at 1 25 17 PM](https://user-images.githubusercontent.com/616070/79094488-5304be00-7d8a-11ea-904c-7bf8a13911ba.png)

[2020-04-13 05:26] arulk commented on #7
This is for pdf output

[2020-04-15 01:03] devKshitijJain commented on #4
@shihabmridha can you try this? https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-captureSnapshot mentioned here - https://stackoverflow.com/a/54817983

[2020-04-15 08:15] shihabmridha commented on #4
@devKshitijJain Thanks for the suggestions. Will give it a shot.

[2020-04-15 12:25] arulk commented on #7
Might be related to this https://github.com/puppeteer/puppeteer/issues/5605

[2020-04-15 12:25] #7 closed

[2020-04-20 07:02] devKshitijJain commented on #4
@shihabmridha hey tried this?

[2020-04-20 10:21] shihabmridha commented on #4
@devKshitijJain , Just pushed a commit. Try it out: https://github.com/shihabmridha/educative.io-downloader/commit/8e61266cf6657f6e35923171217115597e633651

[2020-04-20 10:43] devKshitijJain commented on #4
@shihabmridha worked amazingly well. Thanks for your efforts :)

Now another part of problem is to download pages with all codes available. Currently it downloads only the language which is selected as default.

Also if login was skipped, it still continued downloading, it should stop if it encounters "This lesson is not available in preview. Buy now for full access."

[2020-04-20 10:44] devKshitijJain commented on #4
So let say if code has two languages available then it will create directory structure as
Course Name
 - Java
 - Python
and it will have all the files present in those.

[2020-04-20 10:45] devKshitijJain commented on #4
Could you also enable this in code. This disables the code editor due to which sometimes the code is not captured completely

`const observer = new MutationObserver(mutations => {
    const containerElements = mutations
        .map(mutation => mutation.target
            .querySelector(".code-container:not(.code-container-disabled)"))
        .filter(containerElement => containerElement);
    con

[2020-04-21 09:46] devKshitijJain commented on #4
Idea is to have firstPageWithCode where user can define where the code is and then navigate to that page. Look for code block determine languages available. Store those in array. For Loop on that array and first. navigate to above page, click on the first language tab and then continue with downloading pages, and so on

[2020-04-21 09:49] devKshitijJain opened #9 "Support Downloading Course with all the Languages Available"
Idea is to have firstPageWithCode where user can define where the code is and then navigate to that page. Look for code block determine languages available. Store those in array. For Loop on that array and first. navigate to above page, click on the first language tab by name of language as there is inconsistency in tab index and then continue with downloading pages, and so on.  Also need to match

[2020-04-21 09:50] devKshitijJain commented on #4
@shihabmridha we can close this

[2020-04-21 09:50] devKshitijJain commented on #2
@shihabmridha we can close this

[2020-04-21 13:44] shihabmridha commented on #4
Thanks for the effort.

[2020-04-21 13:44] #4 closed

[2020-04-21 13:45] #2 closed

[2020-04-21 14:07] devKshitijJain commented on #9
@shihabmridha any idea on this?

[2020-04-21 14:13] shihabmridha commented on #9
@devKshitijJain, can you please share a course link with multiple available language?

[2020-04-21 14:16] devKshitijJain commented on #9
https://bit.ly/2wVoLYE @shihabmridha here you go

[2020-04-21 15:12] devKshitijJain opened #10 "Add support for animated slides"
https://www.educative.io/courses/coderust-hacking-the-coding-interview/k5llE

[2020-04-23 07:53] devKshitijJain commented on #10
We can get the length of of slides present using `document.getElementsByClassName("Button-ktk5iw-0 CircleButton-f4i43u-0 styles__AnimationPlus-sc-2az9w3-13 dqWxjg").length` and then we need to call `document.getElementsByClassName("Button-ktk5iw-0 CircleButton-f4i43u-0 styles__AnimationPlus-sc-2az9w3-13 dqWxjg")[index].click();`. We can have a forloop to toggle multiple elements if present. These

[2020-04-23 07:53] devKshitijJain commented on #10
@shihabmridha

[2020-04-23 09:20] devKshitijJain commented on #10
@shihabmridha raising PR

[2020-04-24 01:38] devKshitijJain opened #12 "Image Functionality Broken"
The changes I added broke the image functionality. Throwing error Protocol error (Page.captureScreenshot): Cannot take screenshot with 0 width. So we need to rethink the approach or I will suggest to stick to just HTML as code will be trimmed in both image and pdf.

[2020-04-24 09:28] shihabmridha commented on #12
Yes, we can get rid of the image format.

[2020-04-24 11:55] devKshitijJain commented on #12
@shihabmridha how about pdf?  Code will be trimmed in it too.

[2020-04-24 12:24] shihabmridha commented on #10
Fixes https://github.com/shihabmridha/educative.io-downloader/pull/11

[2020-04-24 12:24] #10 closed

[2020-04-24 12:35] shihabmridha commented on #12
I would like to keep it. Because, it is mostly readable.

[2020-04-24 14:21] shihabmridha commented on #12
Fixes 1dd0c5b3c387b64f5efbf2f45abd33f27f4d4a32

[2020-04-24 14:21] #12 closed

[2020-04-24 19:36] devKshitijJain commented on #9
There is a pattern for this. Basically whenever we encounter any div class = code-container, we just need to get the div before that and check if it has ul element. Class name of ul is `styles__TabNav-sc-67hrh1-15 iiJTwo nav nav-tabs`. I am not sure how can this dynamically works. I can take nav-tabs as text to search for in class names but I am not sure about it. So instead I will look for code-c

[2020-04-24 19:55] devKshitijJain commented on #9
@shihabmridha  Also I was thinking instead of asking user to enter url in config file we can ask user in terminal :-

1.) Explain why we need the url from user and ask for it.
2.) User enters the url, match it with course url. If both are from same course, continue otherwise throw error.

[2020-04-24 23:53] thomasgeoff commented on #9
@devKshitijJain  @shihabmridha  Today I tried with my Mac, **it worked perfectly for both pdf and HTML** format with **loginCheck: true** constraint.  The only suggestion I have is the same, a way to change the programming language of the code editor. I'm only able to get the codes in Java for courses which have solutions in multiple languages (eg: in Grokking the coding interview patterns there a

[2020-04-24 23:58] devKshitijJain commented on #9
@thomasgeoff we are already discussing this feature and I have prominent solution for this. But I don't really work on Typescript so need some help from @shihabmridha. So once enabled you will be able to get all the language code available in that course.

[2020-04-25 00:13] thomasgeoff commented on #9
@devKshitijJain Good luck with that. I mostly code in Python, so I won't be able to give any inputs.

[2020-04-25 09:19] shihabmridha opened #14 "Feature: Ability to download specific lesson by URLs"
Sometimes the script fails to download a few lessons get of a course. One of the major reason is HTTP TIMEOUT. So, it makes sense to download only those missing lessons instead of the whole course again.

**Initial approach:**
Before downloading a lesson look in the respective download directory to check if the file is already downloaded. If yes, then skip the lesson.

[2020-04-25 12:59] #14 closed

[2020-04-25 13:15] shihabmridha commented on #9
@devKshitijJain I believe we can target using this `nav nav-tabs > span` identifier. Then we can iterate over the elements and download the page.

![image](https://user-images.githubusercontent.com/3264156/80280842-aa127780-8728-11ea-89a0-8859fed2c0be.png)

[2020-04-26 08:09] KamaljeetMallik07 opened #16 "new to typescript"
Sir,could you be more detailed?i am new to typescript as well as git

[2020-04-26 08:37] shihabmridha commented on #16
Can you please specify what issue you are having? Is it about installing the script or downloading course?

[2020-04-26 08:42] KamaljeetMallik07 commented on #16
![Screenshot (120)](https://user-images.githubusercontent.com/63553543/80302474-ea750280-87c7-11ea-9848-cb7b576ebaee.png)

[2020-04-26 08:43] KamaljeetMallik07 commented on #16
how can i fix this error,sir?

[2020-04-26 08:45] shihabmridha commented on #16
Run this command (`npm install -g typescript`) to install typescript globally. Then try again.

[2020-04-26 09:00] KamaljeetMallik07 commented on #16
Thank you,sir..
![Screenshot (122)](https://user-images.githubusercontent.com/63553543/80302883-535d7a00-87ca-11ea-92d2-6112b6d47b02.png)
![Screenshot (121)](https://user-images.githubusercontent.com/63553543/80302888-58bac480-87ca-11ea-924c-5ac94f085df3.png)
now I am getting error on "npm start" command

[2020-04-26 09:06] shihabmridha commented on #16
When you ran `npm install` it should download chromium driver. As I see your log, it seems like chromium was not downloaded for some reason.

You can run `npm update`. It might download the chrome driver. If it doesn't then try removing **node_modules** directory and running `npm install` again.

[2020-04-26 11:34] KamaljeetMallik07 commented on #16
Thankyou soo much sir..

[2020-04-26 11:35] KamaljeetMallik07 commented on #16
![Screenshot (124)](https://user-images.githubusercontent.com/63553543/80306285-fec4f980-87df-11ea-9a60-708cbc0edfd2.png)
Sir,Why this error now?while downloading?is there any content losses?

[2020-04-26 11:37] shihabmridha commented on #16
Either you are not logged in or you do not have access to the course.

[2020-04-26 11:41] KamaljeetMallik07 commented on #16
![Screenshot (125)](https://user-images.githubusercontent.com/63553543/80306431-e6091380-87e0-11ea-97cb-3d28956d133b.png)
Sir,here it is showing that i am logged in..
Then how come?

[2020-04-26 11:44] KamaljeetMallik07 commented on #16
![Screenshot (126)](https://user-images.githubusercontent.com/63553543/80306496-5879f380-87e1-11ea-9e7d-9877ea9db6d0.png)
And i do have the access to the course

[2020-04-26 11:52] shihabmridha commented on #16
I see. Can you please follow this:
- Open browser.ts. Go to line 10 and make headless: false
- Run `npm run compile` to compile the change
- Then `npm start` to see how it behaves in browser

[2020-04-26 12:00] KamaljeetMallik07 commented on #16
![Screenshot (127)](https://user-images.githubusercontent.com/63553543/80306836-5dd83d80-87e3-11ea-9a3f-4f036367bb31.png)
This error i got while i ran "npm star"
now,what i need to do,sir?

[2020-04-26 12:00] shihabmridha commented on #16
It wil be `npm start`. My bad.

[2020-04-26 12:06] KamaljeetMallik07 commented on #16
![Screenshot (128)](https://user-images.githubusercontent.com/63553543/80307005-2cac3d00-87e4-11ea-93bc-daed3089850b.png)
i got this

[2020-04-26 12:13] KamaljeetMallik07 commented on #16
Sir,what i need to do now?

[2020-04-26 12:17] KamaljeetMallik07 commented on #16
![Screenshot (129)](https://user-images.githubusercontent.com/63553543/80307317-df30cf80-87e5-11ea-8b9a-e20cf75bee94.png)
Sir, now its going on like this..

[2020-04-26 12:17] KamaljeetMallik07 commented on #16
i think its working on second time

[2020-04-26 12:25] KamaljeetMallik07 commented on #16
It worked thankyou so much,sir for your valuable time?

[2020-04-26 12:25] #16 closed

[2020-04-28 09:06] devKshitijJain opened #18 "CSS Snippets are not visible"
<img width="985" alt="Screenshot 2020-04-28 at 2 35 49 PM" src="https://user-images.githubusercontent.com/13154652/80469059-aae01f00-895d-11ea-9d8a-6be701fea070.png">

[2020-04-28 18:07] FMajesty opened #20 "Errors"
(node:72254) UnhandledPromiseRejectionWarning: Error: Page crashed!
    at Page._onTargetCrashed (/home/user/work/other/educative.io-downloader/node_modules/puppeteer/lib/Page.js:216:24)
    at CDPSession.<anonymous> (/home/user/work/other/educative.io-downloader/node_modules/puppeteer/lib/Page.js:124:56)
    at CDPSession.emit (events.js:315:20)
    at CDPSession._onMessage (/home/user/work/other

[2020-04-28 18:29] shihabmridha commented on #9
Fixes https://github.com/shihabmridha/educative.io-downloader/pull/17

[2020-04-28 18:29] #9 closed

[2020-04-28 18:30] shihabmridha commented on #18
Fixes https://github.com/shihabmridha/educative.io-downloader/pull/19

[2020-04-28 18:30] #18 closed

[2020-04-28 20:07] devKshitijJain commented on #20
@shihabmridha any idea on this?

[2020-04-28 20:07] #20 closed

[2020-04-28 20:08] nyudenkov commented on #20
Resolved by increasing `HTTP_REQUEST_TIMEOUT` const in globals and adding `'--no-sandbox', '--disable-dev-shm-usage'` to args in browser.

[2020-04-28 20:08] devKshitijJain opened #22 "Add Support to download all the subscribed and free courses in one go"

[2020-04-28 20:10] FMajesty opened #23 "Saved only cookie banner"
![Screenshot_20200428_220937](https://user-images.githubusercontent.com/14141649/80532850-08e02700-899d-11ea-96a9-dc9701f129b8.png)

[2020-04-28 20:10] FMajesty opened #24 "Saved only cookie banner"
![Screenshot_20200428_220937](https://user-images.githubusercontent.com/14141649/80532850-08e02700-899d-11ea-96a9-dc9701f129b8.png)

[2020-04-28 20:10] nyudenkov commented on #23
@shihabmridha delete issue please, duplicated accidentally

[2020-04-28 20:10] #23 closed

[2020-04-28 20:13] nyudenkov commented on #24
With PDF same situation.

[2020-04-28 20:29] nyudenkov commented on #24
@devKshitijJain @shihabmridha you have any ideas? 👀

[2020-04-28 21:07] shihabmridha commented on #24
@FMajesty Hi, I do not know the exact reason for that. This can happen when you do not have access to a certain lesson/course.

Try this:
- Check your login credentials.
- Make sure you have access to the course.
- Open _**browser.ts**_ and in line 10 change `headless:false` to see actions in live. Recompile and run.
- For first run set `loginCheck: true`. You can keep it `true` always.
- Fresh in

[2020-04-28 21:14] nyudenkov commented on #24
@shihabmridha
It's not logging in

UPD:
[code]
In live it's not logged in /shrug

[2020-04-28 21:36] devKshitijJain commented on #24
@FMajesty you have to change it first in default.json file. Change loginCheck to true and then try. If it's not getting logged in. Only this might be the place you need to change.

[2020-04-28 21:39] nyudenkov commented on #24
It's not working as needed. It's always was turned to `true`. ¯\_(ツ)_/¯

[2020-04-28 22:13] devKshitijJain commented on #24
You added few things to arguments to solve the issue. May be it's impacting?

[2020-04-28 22:30] shihabmridha commented on #24
@FMajesty Can you please delete the **_data_** directory and try again? Chrome driver stores it's session/cookies etc in that directory.

Your console shows **_Already logged in_** but you are saying you are not logged in. VERY WEIRD!

[2020-04-30 08:46] fcavalieri commented on #24
I had the same problem and this was the cause.
The page on which being logged is checked has the cookie banner on the bottom.
This line https://github.com/shihabmridha/educative.io-downloader/blob/3e723379f35663994c28d097a2da4a53778e0e3a/src/login.ts#L25 actually matches both the Log In button and the Accept button in the cookie banner.
This line https://github.com/shihabmridha/educative.io-downlo

[2020-05-01 12:11] devKshitijJain commented on #24
@fcavalieri that was helpful. @shihabmridha see what can be done.

[2020-05-01 21:31] arjunsreepad opened #27 "Seems like educative.io captcha is not working"
❯ npm run compile

error TS6047: Argument for '--target' option must be 'ES3', 'ES5', or 'ES6'.
error TS5023: Unknown compiler option 'lib'.
error TS5023: Unknown compiler option 'moduleResolution'.
error TS5023: Unknown compiler option 'noUnusedLocals'.
error TS5023: Unknown compiler option 'noUnusedParameters'.
error TS5023: Unknown compiler option 'forceConsistentCasingInFileNames'.
error TS502

[2020-05-01 21:59] shihabmridha commented on #27
Which version of TypeScript are you using? Make sure you have the latest version installed.
Tested in: `3.8.3`

[2020-05-02 17:36] arjunsreepad commented on #27
its solved. issue with Visual Code.
But now seems like educative.io captcha is not working

[2020-05-03 15:18] the-redback opened #28 "mHTML fails to show svg+xml image while pdf format works fine"
Thanks for this useful tool.

As the title says, while downloading a course, the mhtml fails to show an image (possibly svg+xml), but the pdf works fine.

I ran in headless=false mode, the image load successfully. But, after downloading, it was blank in mhtml file.

This is an example page, https://www.educative.io/courses/advanced-kubernetes-techniques/3YzvvGX3RxA

Thanks.

[2020-05-04 19:42] devKshitijJain commented on #28
@the-redback it's a known issue and images are not being rendered by MHTML. For now you can inspect element and you will see image url in it that you can open manually. Meanwhile we will try to fix it.

[2020-05-04 20:05] devKshitijJain commented on #28
Idea to fix this issue is to get SVG images, convert them to data URL and then use img instead of svg.

`var svgElement = document.getElementById('svgId');`

// Create your own image
`var img = document.createElement('img');`

// Serialize the svg to string
`var svgString = new XMLSerializer().serializeToString(svgElement);`

// Remove any characters outside the Latin1 range
`var decoded = unescap

[2020-05-04 20:29] the-redback commented on #28
I want to point another issue with pdf saves.
**While unfolding the slide, most of the images saved as blank in pdf**. After investigation, I found that pages are considered done before the new images load. So, it stays blank.
Although **I workaround adding a sleep time before saving the pdf**, it is a hacky solution that doesn't guarantee that images are loaded and also waits for every page witho

[2020-05-04 20:38] devKshitijJain commented on #28
As images are lazy loading in nature. A simple solution would be to click and then smooth scroll to element, which will ensure the images are loaded. But in that case it will mess up with the code blocks as monaco editor will load and that will create issue with rendering of code blocks. I have a script that blocks it but need to check. Does it work fine with MHTML?

[2020-05-04 20:48] the-redback commented on #28
Last time I checked, It was also blank in MHTML. But, I am not sure if it due to lazy loading or svg problem.

[2020-05-04 20:52] the-redback commented on #28
BTW, I have no knowledge of JS or nodejs. Never tried hello world printing either. :D
I want to know, is there any way to add waiting time in this block? https://github.com/shihabmridha/educative.io-downloader/blob/b048bf19e75328896fb5221bc737929e1ab629a5/src/download.ts#L150-L153

I have used few solutions from online which doesn't work. Also, is there any way to waitfornavigation after `element.

[2020-05-04 21:15] devKshitijJain commented on #28
@shihabmridha  for reference we need help from here - https://stackoverflow.com/a/46639473

[2020-05-04 21:18] devKshitijJain commented on #28
@the-redback you can use this after `element.click();`
[code]

[2020-05-04 23:08] shihabmridha commented on #28
@the-redback, **FYI:** Any function you pass to `page.evaluate(cb, arg)` (for example our `pageEvaluation()`) gets executed in browser not in our script/node process. So, if you write `console.log` to see whats going on inside that block you will not see anything in the console.

What I am trying to say is, any code you write in there you need to make sure it runs in chrome. I don't know client-si

[2020-05-04 23:13] shihabmridha commented on #28
@devKshitijJain, I like the idea of converting svg to **base64** and replace the link by the **base64** code and then save the page.

[2020-05-04 23:25] shihabmridha commented on #24
Considering this as resolved.

[2020-05-04 23:25] #24 closed

[2020-05-04 23:26] shihabmridha commented on #27
@arjunsreepad Can you give us any update or insight?

[2020-05-05 04:51] devKshitijJain commented on #28
@shihabmridha there are still some pieces left to figure out because data URL is also an SVG image. We need to convert it to PNG and then use that.

[2020-05-05 06:13] devKshitijJain commented on #28
@shihabmridha that's true when we add `await` in any function we need to make that function `async`

[2020-05-05 10:01] devKshitijJain commented on #28
So I tried it and even after converting it to image, same problem persists. Need some help to fix this.

[2020-05-05 10:04] devKshitijJain opened #29 "Login Functionality Broken"
<img width="1074" alt="Screenshot 2020-05-05 at 3 33 59 PM" src="https://user-images.githubusercontent.com/13154652/81055239-eb074a80-8ee5-11ea-9ac1-0033eaa0e227.png">

[2020-05-05 10:22] kodlan commented on #29
yeap I have the same issue

[2020-05-05 10:40] kodlan commented on #29
Okay I was able to fix this locally, but I'm to lazy to create a PR.
Maybe the author will to that.

So to fix this go to src/login.ts and replace this two lines
  await page.type('#loginform-email', EMAIL);
  await page.type('#loginform-password', PASSWORD);

with this two lines
  await page.type('[name=email]', EMAIL);
  await page.type('[name=password]', PASSWORD);

[2020-05-05 11:47] shihabmridha commented on #29
@kodlan I really wonder why using ID is not working but using name is working!

[2020-05-05 11:51] kodlan commented on #29
well, there is no id there, I guess they removed it just recently

[2020-05-05 11:54] shihabmridha commented on #29
@kodlan, Ah I see. Thanks 👍

[2020-05-05 13:51] #29 closed

[2020-05-05 13:52] #22 closed

[2020-05-05 23:05] devKshitijJain commented on #28
@the-redback @shihabmridha after brainstorming for like 5 days, working for like 10 crazy hours last night and trying almost hundreds of solutions, finally fixed the issue :)

[2020-05-06 06:20] devKshitijJain opened #31 "Add Support to Download Multi-Filles"
https://www.educative.io/courses/fixing-random-techniques-in-c-sharp/Y5RvjXO6GAK

<img width="1010" alt="Screenshot 2020-05-06 at 11 49 16 AM" src="https://user-images.githubusercontent.com/13154652/81143548-ba7beb00-8f8f-11ea-906b-18dcf8ac7f14.png">

[2020-05-06 06:25] devKshitijJain opened #32 "Add Support for inline iFrame JS if possible"
https://www.educative.io/courses/web-development-unraveling-html-css-js/39DpLBvDW7p

<img width="956" alt="Screenshot 2020-05-06 at 11 55 10 AM" src="https://user-images.githubusercontent.com/13154652/81143876-85bc6380-8f90-11ea-828a-11ba37c99beb.png">

[2020-05-06 06:32] devKshitijJain opened #33 "Add Support for different type of codeContainer"
https://www.educative.io/courses/web-development-unraveling-html-css-js/7ALp2B5vL1G

<img width="961" alt="Screenshot 2020-05-06 at 12 02 00 PM" src="https://user-images.githubusercontent.com/13154652/81144329-6b36ba00-8f91-11ea-8289-27a1a6e6c8e4.png">

[2020-05-06 06:34] devKshitijJain opened #34 "Add support for expanding content hidden behind button"
https://www.educative.io/courses/web-development-unraveling-html-css-js/RM4EKvny1MO
<img width="490" alt="Screenshot 2020-05-06 at 12 04 11 PM" src="https://user-images.githubusercontent.com/13154652/81144464-bbae1780-8f91-11ea-9e70-96c1fd38cd9e.png">
<img width="1000" alt="Screenshot 2020-05-06 at 12 04 18 PM" src="https://user-images.githubusercontent.com/13154652/81144469-bf419e80-8f91-11ea-9c6

[2020-05-06 06:43] devKshitijJain opened #35 "Add Support to Capture Quiz Questions & Answers"
https://www.educative.io/courses/advanced-react-patterns-with-hooks/R8JlpBZZkLK

<img width="951" alt="Screenshot 2020-05-06 at 12 12 18 PM" src="https://user-images.githubusercontent.com/13154652/81144987-eb115400-8f92-11ea-9792-a190dcbc00dd.png">

<img width="973" alt="Screenshot 2020-05-06 at 12 13 21 PM" src="https://user-images.githubusercontent.com/13154652/81145019-011f1480-8f93-11ea-87b8-0

[2020-05-07 03:47] arjunsreepad opened #37 "unable to login"
I believe recently educative has enhanced the captcha

[2020-05-07 04:25] aashish1910 opened #38 "Not able to run npm run install"
C:\Users\Aashish\Desktop\educative.io\educative.io-downloader>npm run install
npm ERR! missing script: install

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Aashish\AppData\Roaming\npm-cache\_logs\2020-05-07T04_24_18_631Z-debug.log

Below is my Scripts tag in package.json
 "scripts": {
    "start": "node build/src/app.js",
    "dev": "nodemon build/src/app.js",
    "c

[2020-05-07 04:27] aashish1910 commented on #37
C:\Users\Aashish\Desktop\educative.io\educative.io-downloader>npm run install
npm ERR! missing script: install

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Aashish\AppData\Roaming\npm-cache\_logs\2020-05-07T04_24_18_631Z-debug.log

I am not to run npm run install. What should I do?

[2020-05-07 05:14] devKshitijJain commented on #38
make `headless = false` in `browser.ts` file, then `npm run compile` and `npm start`. Then look what's the issue and post here.

[2020-05-07 05:21] aashish1910 commented on #38
It is false already. I am using in Windows 10. It will run on it?

async function launchBrowser(args?: object) {
  let configuration = {
    userDataDir: ROOT_PATH + '/data',
    headless: false
  };

[2020-05-07 05:24] devKshitijJain commented on #38
Okay then try making it true. Its like the user agent that was added make issue when you run in headless=false mode. If sti it doesn't work then let us know.

[2020-05-07 05:51] devKshitijJain commented on #38
try `npm install` instead of `npm run install`

[2020-05-07 06:04] aashish1910 commented on #38
If I have a subscription of one month and have access to all courses, then can I download each and every course?
Thanks for guiding me above.

[2020-05-07 06:11] devKshitijJain commented on #38
Yes. Just make `downloadAllCourses = true` in default.json file and start script.

[2020-05-07 06:13] devKshitijJain commented on #38
You may need to keep checking the files it generates. Sometimes it log you out and tool will keep downloading blank pages. So keep checking every last file in downloaded folder and track back if you see any blank file. We will fix the issue in future. Also some chapters or download may fail to download, so just re-run the tool again.

[2020-05-07 06:13] devKshitijJain commented on #38
If you see blank files are being generated just hit ctrl+c in terminal to stop process, delete blank files and re-run the tool

[2020-05-07 06:15] devKshitijJain commented on #37
You need to change headless to false is browser.ts and see what's happening

[2020-05-07 06:38] aashish1910 commented on #38
Bhaiya, I am thinking of buying the subscription for one month and planning to download all the courses in between. I will be able to download all the courses? I am asking because otherwise my money will go waste...!!!

[2020-05-07 07:23] shihabmridha commented on #27
Duplicate https://github.com/shihabmridha/educative.io-downloader/issues/37

[2020-05-07 07:23] #27 closed

[2020-05-07 07:24] shihabmridha commented on #38
@aashish1910 You should be able to download all the available courses. But remember, **this software does not come with any guarantee!**

Also, please close the issue if it gets resolved.

[2020-05-07 07:57] #38 closed

[2020-05-07 19:12] aashish1910 opened #40 "Download failed"
Failed to download  https://www.educative.io/courses/learn-java-from-scratch/RMwDgBWXQjL
Reason: WebSocket is not open: readyState 3 (CLOSED)

[2020-05-08 02:55] #40 closed

[2020-05-11 14:31] devKshitijJain commented on #28
Fixed

[2020-05-11 14:31] #28 closed

[2020-05-13 18:42] Smartman01 opened #41 "Print to pdf not implemented"
I am getting an error that says "Reason: Protocol error (Page.printToPDF): PrintToPDF is not implemented"  Which results in nothing being downloaded. Btw I have loginCheck and headless set as false.

[2020-05-14 04:24] devKshitijJain commented on #41
When you change headless to false it won't work. It will only work in
headless true mode.

On Thu, 14 May, 2020, 12:16 am Carl Antoine, <notifications@github.com>
wrote:

[2020-05-14 04:45] rajatgoyal47 opened #42 "Separate PDF for Individual Chapter"
This downloads the separate PDF for each chapter, is it possible to add support for a single combined pdf?

[2020-05-14 05:25] devKshitijJain commented on #42
Well it's same as chapters are organised in educative. You can always merge them later using some online tool or you are welcome to implement it and raise a PR. But mostly separate pdf does the job.

[2020-05-14 23:12] #42 closed

[2020-05-14 23:13] shihabmridha commented on #37
Don't have enough info.

[2020-05-14 23:13] #37 closed

[2020-05-17 05:53] itsmeakashgoyal commented on #41
Through this script mhtml files and pdf files are downloading but these are blank. No content is showing there. Kindly help to download the course.

[2020-05-17 08:47] devKshitijJain commented on #41
Make headless false and see if you are logged in? Usually this happens when
you are not logged in.

On Sun, 17 May, 2020, 11:23 am Akash Goyal, <notifications@github.com>
wrote:

[2020-05-19 17:57] Smartman01 commented on #41
Ok thank you

[2020-05-19 17:57] #41 closed

[2020-05-23 17:28] yashikabhoge opened #43 "Not able to install dependencies. Error while installing dependency "puppeteer""
I am getting below error when I execute "npm install" command to install dependencies,

ERROR: Failed to download Chromium r706915! Set "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD" env variable to skip download.
Error: self signed certificate in certificate chain
    at TLSSocket.onConnectSecure (_tls_wrap.js:1473:34)
    at TLSSocket.emit (events.js:311:20)
    at TLSSocket._finishInit (_tls_wrap.js:916:8)

[2020-05-25 03:02] shihabmridha commented on #43
This issue is related to Puppeteer not our script.

[2020-05-25 03:02] #43 closed

[2020-05-26 21:08] 0psuri opened #44 "Can you add video download option"
Some courses have videos so, can you add those videos to be downloaded.

[2020-05-27 02:16] ajmerainfo opened #45 "Access Denied error"
I am getting access denied error.

https://www.screencast.com/t/inlA7b5opsm
I have checked the username and the password is working fine on the browser.

[2020-05-27 03:32] RahilRehan commented on #45
[2020-05-27T03_30_56_772Z-debug.log](https://github.com/shihabmridha/educative.io-downloader/files/4686319/2020-05-27T03_30_56_772Z-debug.log)
Same error

[2020-05-27 09:13] devKshitijJain commented on #45
It generally happens if you are using the script with headless false. Try with headless true.

[2020-05-27 09:14] devKshitijJain commented on #44
If you download it in MHTML format. You can click on video later on to watch it.

[2020-05-27 10:08] 0psuri commented on #45
Same with headless true; this error is not going

[2020-05-27 10:48] linuxmachine111111 commented on #44
It doesnt work. When you click the video it doesnt load at all.

[2020-05-27 14:49] uptodate69 commented on #45
![image](https://user-images.githubusercontent.com/39705425/83035650-92136980-9fee-11ea-919d-c584b273979b.png)

me too same issue

[2020-05-27 15:06] ajmerainfo commented on #45
I have tried everything but could not work. I am using Windows 10.

But for temporary, I found the way to download stuff with setting cookie manually from taking auth cookie from current browser.

![2020-05-27_0805](https://user-images.githubusercontent.com/5574954/83037734-ffc09500-9ff0-11ea-8686-6e1df6df333e.png)

[2020-05-27 21:47] devKshitijJain commented on #44
Inspect and get the link. Then just open it in browser.

[2020-05-28 02:56] ajmerainfo commented on #45
Got the issue.

if we logged out from the main account everywhere else then it worked.

So only one person can log in at a time.

[2020-05-28 02:56] #45 closed

[2020-05-31 11:45] sustbird opened #46 "Downloaded paged shown as blank page in browser"
Pages has been downloaded successfully using this nice utility.
mhtml pages are not blank, seems to have all contents.
But while opening using browser, pages are blank. Tried with chrome, edge, safari, but same behaviour. Exporting to pdf also result in blank pdf.
Would you please let us know how to view the saved pages?

[2020-05-31 12:25] shihabmridha commented on #46
- Verify your login credentials and set loginCheck: true.
- Open browser.ts file and find launchBrowser() and set headless: false to see live actions.
- Make sure you are logged in.

[2020-05-31 13:00] sustbird commented on #46
Thank you for your response. I did all those.
The page has been downloaded with contents. The problem is when opening the file with browser, it shows entire page as blank .

[code]

[2020-06-05 08:09] amitfegade121 commented on #46
I did the same thing as he mentioned, but when I open this file in chrome or firefox, it shows blank page and If I open a page in Internet Explorer, it is showing only home page with index and If I click on any link... nothing is displayed except header containing, login and Signup links... What is an exact issue?
Are u able to open a file in chrome? Is PDF is also properly downloaded?

[2020-06-05 11:11] shihabmridha commented on #46
@amitfegade121 If you see the login/signup button/link after downloading a page then it means that you were not successfully logged in. Unsuccessful login is one of the reasons for downloading a blank page.

[2020-06-05 18:41] sustbird commented on #46
It was login problem, now solved.

[2020-06-05 18:41] #46 closed

[2020-06-07 08:43] amitfegade121 commented on #46
Okay but on console It is saying Logged In and It navigates to URL and download files. It would have shown message that Logged In fail...
When I set option headless to false. Browser opens and my login fails, why so? Because my credentials are correct, If I normally logged in It works and I have full access to their content...

It would be great, If you can help in this...
Thanks in advance

[2020-06-15 00:52] KamaljeetMallik07 opened #47 "failed at login step.."
[2020-06-15T00_41_54_861Z-debug.log](https://github.com/shihabmridha/educative.io-downloader/files/4777519/2020-06-15T00_41_54_861Z-debug.log)

[2020-06-15 00:56] KamaljeetMallik07 commented on #47
![Screenshot (179)](https://user-images.githubusercontent.com/63553543/84608659-0eec8180-aed1-11ea-94d4-64b79c619eed.png)
Sir,Plz help me out

[2020-06-15 15:22] #47 closed

[2020-06-16 20:50] raghav2903 opened #48 "How are you guys viewing the files?"
Every MHTML document is opening up the index file which when you click on opens the website. Also, the pdf option downloads empty 1Kb pdf files. Am I missing something?

Also, if headless is set to false, it does not login. It seems to log in only when headless is set to true.

[2020-06-17 07:22] shihabmridha commented on #48
I have just tested the script. I did work for me without any issues. The blank page issue mostly occurs because of unsuccessful login.

- Remove the data directory
- Check your login credentials
- Try again

[2020-06-20 14:01] anilchoudhary commented on #47
How did you solve this issue?

[2020-06-20 14:02] anilchoudhary commented on #45
I've logged out from everywhere, but still getting the same issue.

[2020-06-20 14:06] shihabmridha commented on #45
@anilchoudhary I have faced the same issue when in headless mode. Can you try this:
- Remove the data directory.
- Run the app in `headless: false` mode.

[2020-06-22 09:53] khatibomar commented on #48
try change your browser , firefox does not support mhtml , use chrome.

[2020-06-22 09:59] khatibomar commented on #44
I also need it , I have a fix on my mind when I have free time , I will try to implement it.

[2020-06-22 12:57] GD177 opened #49 "Need help to do it!!"
I downloaded type script but after that what i have to do, i am not getting that much from the usage section. Please help.

[2020-06-23 18:24] #49 closed

[2020-06-23 18:24] GD177 commented on #49
Resolved

[2020-06-23 18:37] GD177 opened #50 "Not able to Login."
![error](https://user-images.githubusercontent.com/15930769/85443113-8778cf80-b5ae-11ea-8ca4-ad898a15e960.PNG)

getting this error. Please help.

[2020-06-23 22:32] ewayuan commented on #50
yes! same issue here! after I login, the chrome crash

[2020-06-24 09:25] shihabmridha commented on #50
@ewayuan Your comment has been deleted for not being reasonable.

[2020-06-24 09:57] #50 closed

[2020-06-24 09:58] shihabmridha commented on #48
Closed for no followup.

[2020-06-24 09:58] #48 closed

[2020-06-24 15:05] alexbukvic commented on #50
Hi, have you solved this problem?

[2020-06-24 17:58] shihabmridha commented on #50
@alexbukvic As you can see above that, the issue is closed in https://github.com/shihabmridha/educative.io-downloader/commit/201b76d2356c9603f30e68f9b15687e51457d6a5. So yeah. It should work now. See the commit for detail reason.

[2020-06-25 15:56] pallerana opened #51 "Enhancement: Download all the courses under a given track"
Hello, Is it possible to accommodate the change to download all the courses under a given track, For example if I provide the track URL **https://www.educative.io/track/ace-java-coding-interview** it should download all the 9 courses under it

[2020-06-25 16:00] pallerana opened #52 "Add support to download multiple courses"
Is it possible to provide comma separated URLs for courseUrl and download all those at a time. something like
"courseUrl": "https://www.educative.io/courses/docker-for-developers,https://www.educative.io/courses/web-application-software-architecture-101,https://www.educative.io/courses/introduction-microservice-principles-concepts"

[2020-06-26 00:24] swiftMag3 commented on #52
I think you can easily do that on your own, just change the code here in `app.ts`, but don't forget that the courseURL property now it's an array, I changed the name here to be lexically correct
[code]
change this code on `app.ts` line 48-50 I think
[code]
to be like this:

[code]

[2020-06-26 00:26] swiftMag3 opened #53 "check the summary.modified property against last download date to download updated courses"

[2020-06-26 00:28] swiftMag3 commented on #53
check the `summary.modified`  property from available courses against last download date to download updated courses

[2020-06-26 09:43] shihabmridha commented on #52
Thank you @swiftMag3 for pointing it out. We had this feature. But, it was removed in the path of developing some other features. You can submit a PR if you want.

[2020-07-06 11:34] theIYD commented on #34
Is this implemented ?

Cases where **Show solution** buttons do not work as of now

[2020-07-06 11:56] shihabmridha commented on #34
This will be closed when implemented.

[2020-07-06 21:07] devKshitijJain commented on #34
My subscription has ended. So haven't been able to add new features.

[2020-07-08 09:55] jatinkumar762 opened #55 "Downloaded PDF Size is 1KB....Not able to download pdf"
Hi,
I downloaded pdf, because mhtml files are not opening in chrome or firefox. I set true also in browser.ts file to check login. I am successfully logged-in in the browser. Pdf files are not downloaded properly and their size is coming 1KB.
mhtml are not good to read, without CSS they are not looking good.  Could you please change it like earlier version where file are downloaded in html format.

[2020-07-09 20:21] rahulthetoolsmaker commented on #55
Hi, I am facing the same issue. Are you guys planning to provide a fix for it ??

[2020-07-09 21:11] jatinkumar762 commented on #55
An earlier version of the code was good, in that code, we were able to download HTML pages and pdf easily.

[2020-07-09 22:58] shihabmridha commented on #55
I will try to come up with some fix. Not sure exactly when will I be able
to do so.

On Fri, Jul 10, 2020, 3:12 AM Jatin Kumar <notifications@github.com> wrote:

[2020-07-09 23:13] jatinkumar762 commented on #55
Hi Sir,
Could you please share old code ?

[2020-07-10 06:59] shihabmridha commented on #55
I don't know which code worked for you. Also, the previous code might not work now because educative has changed its implementation. But still, you can always go back to the previous commit and check if it works for you.

[2020-07-10 10:47] #55 closed

[2020-07-10 10:50] shihabmridha commented on #55
@jatinkumar762 Just pushed a fix. I have experienced this issue as well. It was due to login issue in my case. Educative changed a little which broke the login flow. Now, I have fixed the login issue.
If you get the "Access Denied" issue you should contact the educative support.

[2020-07-13 14:47] icecold21 opened #56 "Text got cut when downloading to pdf format"
![image](https://user-images.githubusercontent.com/17531591/87318277-b5708480-c55a-11ea-99e2-618c20cafd1c.png)

Here's my configuration
`
{
    "email": "",
    "password": "",
    "loginCheck": true,
    "saveAs": "pdf",
    "multiLanguage": true,
    "courseUrl": "https://www.educative.io/courses/grokking-the-coding-interview",
    "downloadAllCourses": false
}
`

[2020-07-13 15:41] shihabmridha commented on #56
It is a known problem. We have no fix for that yet. That is why mHTML is
the recommended format.

On Mon, Jul 13, 2020 at 8:47 PM icecold21 <notifications@github.com> wrote:

--
Regards,
*Shihab Mridha*
Software Engineer
E-mail: shihabmridha@gmail.com
Phone: +8801709280882

[2020-07-13 15:42] #56 closed

[2020-07-26 01:43] amrayoub opened #58 "Can't open or view the mhtml saved files after downloading it"
Hi,
I Can't open or view the mhtml saved files after downloading it.

I get a blank page with this message " We use cookies as well as similar tools and technologies to improve your experience and to understand how our site is being used. Review our PRIVACY POLICY to learn more about what cookies we use and how to amend your cookie settings."

![Screenshot 2020-07-26 at 03 42 56](https://user-imag

[2020-07-26 02:48] amrayoub opened #59 "Code snapshot isn't available"
After downloading a course with "html, css and JS" code snapshot, I can't viewed
![Screenshot 2020-07-26 at 04 47 00](https://user-images.githubusercontent.com/16503306/88470307-3173b080-cefb-11ea-94e5-e498dc43479c.png)

[2020-07-26 13:48] devKshitijJain commented on #58
You are not logged in. This is the reason that files are blank.

[2020-07-26 19:46] amrayoub commented on #58
By removing data directory. it all works fine now

[2020-07-26 19:46] #58 closed

[2020-07-28 01:46] RahilRehan opened #60 "No matter what I try I get the same error."
internal/modules/cjs/loader.js:968
  throw err;
  ^

Error: Cannot find module 'C:\Users\dEnOmInAtOr\Downloads\educative.io-downloader-master\build\src\app.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:965:15)
    at Function.Module._load (internal/modules/cjs/loader.js:841:27)
    at Function.executeUserEntryPoint [as runMain] (internal/modules/run_main.js:71:12)

[2020-07-28 01:46] RahilRehan commented on #60
Sometimes I also get "login button not found on the page" error too.

[2020-07-28 11:22] shihabmridha commented on #60
The cause of this issue is not our script. Instead, you should check if you have properly installed & compiled the project and its dependencies.

[2020-07-28 11:22] #60 closed

[2020-07-28 17:00] minyoungan opened #61 "downloadAllCourses not working anymore?"
downloadAllCourses:true used to work, but I think it stopped working. It only downloads What would be the best way to troubleshoot?

[code]

[2020-07-28 18:33] minyoungan commented on #61
I fixed mine temporarly by removing the following if condition:
[code]
to

[code]

[2020-08-01 12:26] jiornojiovanni opened #62 "Crash after downloading some courses."
Sometimes the downloader crash after downloading 2 or 3 courses. Happens on 2 different PC (The weaker one is more subject to this).

Crash log:
[2020-08-01T12_16_19_228Z-debug.log](https://github.com/shihabmridha/educative.io-downloader/files/5010350/2020-08-01T12_16_19_228Z-debug.log)

[2020-08-04 20:58] aboelkassem opened #65 "Error: Reason: Protocol error (Page.printToPDF): PrintToPDF is not implemented"
This is an error that appeared in some courses while downloading it as PDF is the headless = false
and I made it true for better pdf generation but it's an empty file in some courses that i still can access to them ...

[2020-08-05 06:17] veluhariharan opened #66 "Paid subscription required to download?"
`You need a subscription to use this`

Does it mean I need to have a paid subscription to leverage this? I have headless mode set to true and still I get blank pdf pages.

I tried to debug by settings the headless mode set to false, then I see an error printToPDF not implemented.

[2020-08-05 07:55] shihabmridha commented on #66
Yes, you need a paid subscription. This tool doesn't download any course just for free.

[2020-08-05 07:55] #66 closed

[2020-08-05 08:00] veluhariharan commented on #66
Thanks. How about downloading free courses? It doesn't work even for the free courses. Am I missing something trivial?

[2020-08-05 08:58] shihabmridha commented on #66
It can download free courses. Possibly you are missing something. You will get `printToPDF not implemented` error in `headless: true` mode. I would suggest you download HTML format.

[2020-08-05 09:00] shihabmridha commented on #65
To download PDF you need a headless browser so, you need to headless = true. HTML is more stable than PDF.
If you get an empty page it means you are not logged in.

[2020-08-05 09:00] #65 closed

[2020-08-12 04:48] Jinchul81 opened #68 "An error with "Could not log in""
Thanks for providing a wonderful program! I could download some courses, but there was stuck when downloading a specific lesson. Anyway, I stopped the program and restart again. By the way, when I tried five times, the program throws an exception with "Could not log in". I assumed that my account or my IP was blocked, but they were not related to this problem because I changed my IP on a public cl

[2020-08-12 11:54] shihabmridha commented on #68
Can you please post the full error log?

[2020-08-12 12:00] shihabmridha opened #69 "Process doesn't exit after downloading course"
I tried to download [this course](https://www.educative.io/courses/grokking-the-behavioral-interview). Everything went fine but the process never stops. After downloading all the lessons it supposed to console.log **"=> Done"** message and exits the process.

@devdcores I believe it has something to do with your code. Can you please take a look?

[2020-08-12 12:06] devdcores commented on #69
okay @shihabmridha will look into it.

[2020-08-13 02:43] Tonyfanto opened #71 "images hidden behind the buttons aren't working properly."
The images which are hidden behind the buttons aren't showing properly. Sometimes it's **working fine**, sometimes the first image alone showing well and the rest of the **images are blank** and even sometimes the **images are broken**. Please have a look at it.  Thank you.

[2020-08-14 19:31] #69 closed

[2020-08-20 09:22] shihabmridha commented on #68
Closed for inactivity.

[2020-08-20 09:22] #68 closed

[2020-08-27 05:57] RahilRehan opened #72 "Cannot log in, cmd automatically closes."
I tried setting headless false, and this is what I saw
![error2](https://user-images.githubusercontent.com/29269254/91394180-0e208600-e858-11ea-88db-5afcfad2d3db.PNG)

And here is the log
[2020-08-27T05_55_28_150Z-debug.log](https://github.com/shihabmridha/educative.io-downloader/files/5134350/2020-08-27T05_55_28_150Z-debug.log)

Maybe it is some error related to re-captcha? Please have a look.

[2020-08-27 05:59] RahilRehan commented on #72
I can normally login with same details in my chrome browser.
It used to perfectly worked two days ago. I did try recompiling, tried on linux and windows too and tried deleting the data folder too.
sometimes it magically works and sometimes it throws the access denied error.

[2020-08-27 11:51] RahilRehan commented on #72
ok, following up. I just had a chat with educative support.
I think they have introduced bot detection so to get rid of automation and scrapping.

I tried setting the userAgent on page, which did not work

[code]

[2020-08-27 12:10] RahilRehan commented on #72
Maybe this will work, I don't know typescript. Can you please have a look?
https://www.npmjs.com/package/puppeteer-extra-plugin-stealth

[2020-08-29 16:55] RahilRehan commented on #72
Ok, so I found a solution.
Basically educative uses recaptcha 3, which is quite intelligent.
I replaced all chromium files with chrome installation in my pc, node_modules>pupeteer>local-chromium>win_build>chrome_win.
That does the job, chrome is not getting flagged by recaptcha but like chromium.

[2020-08-29 16:55] #72 closed

[2020-09-01 15:03] atuljohn opened #73 "Login fails even after reCAPTCHA manually verified"
Login fails even after verifying reCAPTCHA manually.
![image](https://user-images.githubusercontent.com/9305696/91868310-77721180-ec29-11ea-99d1-5815635dfe80.png)

SAVE AS: pdf
CHECK IF ALREADY LOGGEDIN: true
Checking if already logged in
Loggin in
Could not log in
Logging in...
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! educative.io-downloader@1.0.0 start: `node build/src/app.js`
npm ERR!

[2020-09-01 19:45] atuljohn commented on #73
After waiting some time, issue is not seen anymore.

[2020-09-01 19:45] #73 closed